/* --- トップエリア --- */
.top {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.top-inner {
    width: 100%;
    max-width: 880px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-svg-text {
    flex-shrink: 0;
}

.top-labname-jp {
    font-size: 40px;
    letter-spacing: 0.1em;
}

.top-labname-en {
    font-size: 20px;
    display: block;
    letter-spacing: 0.03em;
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid var(--neutral-900);
}

/* --- スクロールダウン矢印 --- */
.scroll-down {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}

/* 矢印のアニメーション部分 */
.scroll-down::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid var(--neutral-900);
    border-left: 2px solid var(--neutral-900);
    transform: rotate(-45deg);
    animation: scroll-animation 2.5s infinite;
}

/* 矢印のアニメーション定義 */
@keyframes scroll-animation {
    0% {
        opacity: 0;
        transform: rotate(-45deg) translate(20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(-45deg) translate(-20px, 20px);
    }
}




/* --- Aboutセクション --- */
.about {
    padding: 100px 0px;
}

.about-inner {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.about-top,
.about-bottom {
    display: flex;
    flex-direction: column;
}


.about-top {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.about-bottom {
    display: flex;
    flex-direction: column;
}

.about-heading {
    font-size: 40px;
    margin-bottom: 30px;
    line-height: 1.6;
}

.about-text {
    font-size: 24px;
    line-height: 1.6;
}

.about-top .about-text {
    text-align: right;
}

.about-bottom .about-text:nth-of-type(1) {
    margin-bottom: 16px;
}

.about-bottom .about-text:nth-of-type(2) {
    margin-bottom: 20px;
}


.br-sp-about-1070 {
    display: none;
}

.br-sp-about-770 {
    display: none;
}

.br-sp-about-540 {
    display: none;
}




/* --- Newsセクション --- */

.news {
    padding: 100px 0px;
}

.section-title {
    font-size: 48px;
    text-align: center;
    padding-bottom: 40px;
}

.news-card {
    max-width: 740px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
    background-color: var(--neutral-100);
    border-radius: 40px;
    gap: 20px;
}

.news-list {
    max-width: 620px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}


/* --- 個別のニュースアイテム --- */

.news-item {}

.news-meta,
.publication-card-meta {
    display: flex;
    gap: 10px;
}

.news-category,
.publication-card-category {
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 12px;
    border: solid var(--neutral-900) 0.5px;
}

.news-date,
.publication-card-year {
    font-size: 14px;
    padding-top: 2px;
}

.news-content {
    margin-top: 8px;
    font-size: 16px;
}

.news-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin: 8px 0px 0px 4px;
    color: var(--neutral-700);
    transition: color 0.2s ease;
}

.news-link:hover {
    color: var(--neutral-900);
}

/* --- Youtubeセクション --- */
.youtube {
    padding: 100px 0;
}

.youtube-inner {
    max-width: 720px;
    margin: 0 auto;
}

.youtube-video {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 のアスペクト比 */
    border-radius: 20px;
    overflow: hidden;
}

.youtube-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




/* --- Publicationセクション --- */


.publication {
    padding: 100px 0px;
}

.publication-inner {
    max-width: 1200px;
    margin: 0 auto;
}

.section-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding-bottom: 40px;
}

.section-title-container h2 {
    font-size: 48px;
    padding-bottom: 0;
}

.publication-card-list {
    display: grid;
    gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(4, 240px);
    overflow: hidden;
    max-height: 240px;
}


/* --- Publicationカード --- */

.publication-card {
    height: 240px;
    width: 240px;
    background-color: var(--neutral-100);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.publication-card-content p {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 11;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}




/* --- Memberセクション --- */
.member {
    padding: 100px 0px;
}

.member-inner {
    max-width: 1200px;
    margin: 0 auto;
}

.member-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.faculty-card-list,
.student-card-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.member-card {
    background-color: var(--neutral-100);
    padding: 20px;
    border-radius: 10px;
    min-width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.member-role {
    font-size: 12px;
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 0.5px solid var(--neutral-900);
}

.member-name {
    font-size: 14px;
}

/* --- VIEW MORE リンク --- */
.viewmore {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 24px;
    align-self: flex-end;
    padding: 10px 0px;
    transition: color 0.2s ease;
}

.viewmore:hover {
    color: var(--neutral-1000);
}

.section-title-container .viewmore {
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;
}


/* ---  VIEW MORE リンクのアイコン部分 --- */
.viewmore-icon {
    display: flex;
    align-items: center;
}

/* アイコンの線 */
.viewmore-icon-line {
    display: block;
    width: 38px;
    height: 1px;
    background-color: var(--neutral-900);
    /* ↓ アニメーション指定をこちらに移動 */
    animation: wipe-line 1.5s ease-in-out infinite;
}

/* アイコンの円 */
.viewmore-icon-circle {
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid var(--neutral-900);
    border-radius: 50%;
    margin-left: -12px;
    /* 線の半分まで円を重ねる */
}


/* 線のアニメーション定義 */
@keyframes wipe-line {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }

    50% {
        transform: scaleX(1);
        transform-origin: left;
    }

    51% {
        transform-origin: right;
    }

    100% {
        transform: scaleX(0);
        transform-origin: right;
    }
}


/* --- レスポンシブ対応 --- */
@media (max-width: 1069px) {

    .top-inner,
    .about-inner,
    .youtube-inner {
        padding-right: 5vw;
        padding-left: 5vw;
    }

    .br-sp-about-1070 {
        display: block;
    }

    .publication-card-list {
        grid-template-columns: repeat(3, 240px);
    }
}

@media (max-width: 770px) {
    .top-inner {
        justify-content: center;
    }

    .top-labname {
        display: none;
    }

    .br-sp-about-770 {
        display: block;
    }

    .news-card {
        margin-right: 5vw;
        margin-left: 5vw;
        padding-right: 5vw;
        padding-left: 5vw;
        border-radius: 5vw;
    }

    .publication-card-list {
        grid-template-columns: repeat(2, 240px);
    }

}

@media (max-width: 540px) {
    .br-sp-about-540 {
        display: block;
    }

    .youtube-inner {
        padding-left: 0;
        padding-right: 0;
        max-width: none;
    }

    .youtube-video {
        border-radius: 0;
    }

    .publication-card-list {
        grid-template-columns: repeat(1, 240px);
    }

    .publication-card-list {
        max-height: 500px;
    }
}


@media (max-width: 390px) {
    .top-svg-text svg {
        width: 260px;
        height: auto;
    }

    .section-title-container .viewmore {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
}