/* --- 研究業績ページ全体の装飾 --- */
.publication-page {
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-height: 832px;
}

/* --- 年選択ボタンの装飾 --- */
.year-buttons {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;

}

.year-buttons button {
    font-size: 20px;
    display: flex;
    padding: 4px 16px 6px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: rgba(250, 250, 250, 0.5);
    border: 1px solid var(--neutral-900);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.year-buttons button:hover {
    background: var(--neutral-100);
    color: var(--neutral-900);
}

.year-buttons button.active {
    background: var(--neutral-900);
    color: var(--neutral-100);
}


/* --- 研究業績リストの装飾 --- */
.publication-list {
    padding: 40px 60px;
    background: var(--neutral-100);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.publication-card-meta {
    display: flex;
    gap: 10px;
}

.publication-card-category {
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 12px;
    border: solid var(--neutral-900) 0.5px;
}

.publication-card-content {
    margin-top: 8px;
    font-size: 16px;
}

/* --- レスポンシブ対応 --- */
@media (max-width: 1069px) {
    .publication-list {
        padding: 40px 5vw;
    }
}